@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="position:relative;">
    <canvas class="bg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
    <canvas class="fg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
</div>
<script>
    render = new RenderCanvas([$(".bg-canvas")[0], $(".fg-canvas")[0]]);
    for (var i = 0; i < 1; i++) {
        var testLine = new Image("./Images/test.png", 100 + (i * 100), 100 + (i * 100), 100, 100);
        render.addObject(testLine);
        var angle = 0;
        var r = 300;
        testLine.movePath(function (x, y, width, height, t) {
            var v = Point(r * (Math.sin(Utils.convertToRad(angle))), r * (Math.cos(Utils.convertToRad(angle))));
            angle += 360 / t;
            return v;
        }, 10000);
    }
    render.render();
</script>