@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div id="viewport">
</div>
<script>
    function transition(layer) {
        var darth = new RenderJs.Canvas.Shapes.Image({
            url: "Images/darth-vader.jpg",
            x: 100,
            y: 100,
            blurRadius: 0
        });
        darth.setfilters([RenderJs.Canvas.Filters.Blur]);
        layer.addShape(darth);

        var trans = new RenderJs.Canvas.Transition({
            shape: darth,
            duration: 2,
            props: { x: 500 },
            easing: RenderJs.Canvas.Easings.BounceEaseOut
        });
        trans.play();
        setTimeout(function () {
            trans.reverse();
        }, 2000);
    }

    stage = new RenderJs.Canvas.Stage({
        container: "viewport",
        width: 1200,
        height: 800
    });
    var animlayer = stage.createLayer();
    var staticlayer = stage.createLayer();
    transition(animlayer);
</script>