@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="viewport">
</div>
<script>
    render = new RenderCanvas(1200, 800);
    render.onClick(function (data) {
        console.log(data.object);
    });
    for (var i = 0; i < 5000; i++) {
        var image = new Image("Images/test.png", (Math.random() * 1000) + 15, (Math.random() * 800) + 40, 100, 100);
        render.addObject(image);
        image.direction = 1;
        //if (i < 5000) {
            (function (img) {
                image.movePath(function (x, y, width, height, t, fps) {
                    //var v = Point(r * (Math.sin(Utils.convertToRad(img.aangle))) + ox, r * (Math.cos(Utils.convertToRad(img.aangle))) + oy);
                    x += img.direction * (1200 / (t / fps));
                    var v = Point(x, y);
                    if (x < 0 || x > 1170)
                        img.direction *= -1;
                    return v;
                }, 10000);
            }(image));
        //}
    }
    render.render();
</script>