@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="position:relative;">
    <canvas class="bg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
    <canvas class="fg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
</div>
<script>
    render = new RenderCanvas([$(".bg-canvas")[0], $(".fg-canvas")[0]]);
    for (var i = 0; i < 1; i++) {
        var testLine = new Rectangle(250 + (i * 100), 150 + (i * 100), 150, 100, "#414141", null, 3);
        render.addObject(testLine);
        testLine.scaleShape(5, 2, 10000);
    }
    render.render();
</script>