@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div id="viewport">
</div>
<script>
    function transition(layer) {
        var darth = new RenderJs.Canvas.Shapes.Image({
            url: "Images/darth-vader.jpg",
            x: 100,
            y: 100,
            blurRadius: 0
        });
        darth.setfilters([RenderJs.Canvas.Filters.Blur]);
        layer.addShape(darth);

        var trans = new RenderJs.Canvas.Transition({
            shape: darth,
            duration: 2,
            props: { x: 500 },
            easing: RenderJs.Canvas.Easings.BounceEaseOut
        });
        trans.play();
        setTimeout(function () {
            trans.reverse();
        }, 2000);
    }

    stage = new RenderJs.Canvas.Stage({
        container: "viewport",
        width: 1200,
        height: 800
    });
    var animlayer = stage.createLayer();
    var staticlayer = stage.createLayer();
    transition(animlayer);

    //darth.direction = 1;
    //anim = new RenderJs.Canvas.Animation(function (frame) {
    //    //var v = Point(r * (Math.sin(Utils.convertToRad(img.aangle))) + ox, r * (Math.cos(Utils.convertToRad(img.aangle))) + oy);
    //    if (darth.x < 0 || darth.x > 1200)
    //        darth.direction *= -1;
    //    var x = darth.direction * (1200 / (10000 / frame.frameRate));
    //    darth.moveShape(x, 0);
    //}, animlayer);
    //anim.start();

    //for (var i = 0; i < 10000; i++) {
    //    var image = new RenderJs.Canvas.Shapes.Image({
    //        url: "Images/test.png",
    //        x: (Math.random() * 1000) + 15,
    //        y: (Math.random() * 800) + 40,
    //        blurRadius: 30
    //    });

    //    animlayer.addShape(image);
    //    image.direction = 1;
    //    (function (img) {
    //        anim = new RenderJs.Canvas.Animation(function (frame) {
    //            //var v = Point(r * (Math.sin(Utils.convertToRad(img.aangle))) + ox, r * (Math.cos(Utils.convertToRad(img.aangle))) + oy);
    //            if (img.x < 0 || img.x > 1200)
    //                img.direction *= -1;
    //            var x = img.direction * (1200 / (10000 / frame.frameRate));
    //            img.moveShape(x, 0);
    //        }, animlayer);

    //        anim.start();
    //    }(image));
    //}
</script>