@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="position:relative;">
    <canvas class="bg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
    <canvas class="fg-canvas" width="1200" height="800">
        Your browser does not support canvas!
    </canvas>
</div>
<script>
    render = new RenderCanvas([$(".bg-canvas")[0], $(".fg-canvas")[0]]);
    var anim = new Animation(render, Utils);
    for (var i = 0; i < 10000000; i += 100) {
        var testLine = new Rectangle(Point(50 + i, 50 + i), 150, 100, "#414141", 3);
        render.addObject(testLine);
        anim.rotate(testLine, 360, 10000);
    }
    //render.renderByHand();
    render.render();
</script>