@{
    ViewBag.Title = "svg";
    Layout = "~/Views/Shared/_SVGLayout.cshtml";
}

<h2>SVG</h2>

<div id="svg_view">
</div>


@section scripts{
    <script src="/Scripts/svg/vspace.js"></script>
    <script src="/Scripts/svg/main.js"></script>
}